.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  background: rgba(000, 000 , 000, 0.02);
  border-bottom: 1px solid pink;
}

.todo-task {
  cursor: pointer;
}

.todo-task.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo-btns {
  flex-shrink: 0;
  padding-left: 0.7em;
}

.todo-btns button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #b93ef7;
}

.todo-btns button:hover {
  color: #cc75f8;
}
