.todo-form {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  outline: none;
  width: 100%;
}
.todo-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.todo-form input {
  flex-grow: 1;
  background: white;
  padding: 0 1.5em;
  font-size: initial;
}
.todo-form button {
  padding: 0 1.3rem;
  border: none;
  background: #b93ef7;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(000, 000, 000, 0.3);
  margin-left: 5px;
  cursor: pointer;
}
.todo-form button:hover {
  background: #cc75f8;
}
.todo-form input,
.todo-form button {
  font-family: sans-serif;
  height: 3rem;
  border-radius: 3px;
  border: none;
}

::placeholder {
  color: lightgray;
}
